-Mi nombre es Eduardo Daniel medina pero todos me llaman por mi segundo nombre, tengo 35 años. 
Soy una persona muy curiosa y me gusta aprender de todo un poco, por lo que nunca me quedo mucho tiempo con un solo trabajo.

-Nací en Zona Oeste de Buenos Aires. Tuve muchos trabajos y estudie muchas cosas y muchos cursos.

-Mi primer trabajo fue a los 14 años vendiendo peliculas piratas en VCD, la versión anterior al DVD, en dónde conocí muchas peliculas y descubrí uno de mis amores, el cine.

-Estudíe fotografía analogica y estenopeica, así que por un momento me dedique a la fotografía, teniendo varias presentaciones e incluso vendiendo muchas obras mías.

-A los 18 me dedíque a juntando donaciones de ropa y alimento, y también a proyectar peliculas en comedores infantiles de barrios carenciados 
para llevarles un poco de cine a los niños y no tan niños. 

-Por 3 años, junto con 2 amigos organizabamos eventos en escuelas y universidades sin fines de lucro, sobre 
peliculas de terror con cosplays, ambientación, sorteos, entre otras cosas, todo ambientado a la pelicula que se proyectaba en ese momento, por lo general clásicos del cine de terror.
Por esta época también hicimos, muchos cortometrajes, de todo tipo, principalmente de terror.

-A los 26 años hice un curso de filmmaking y logré contactar con un Productor Audiovisual, al cuál le ofrecí un trabajo como pasantía. 
Le gustó tanto mi forma de trabajar y conectar con las personas que me adoptó como su asistente de producción y con quien realizamos 4 largometrajes y entre 20 o 30 publicidades juntos.

-Hace 3 años decidí dejar mi trabajo de producción y mudarme a Bariloche, Argentina.

-En Bariloche me contacté con una cooperativa de arte y trabajo que también me adoptaron como parte de su staff y logramos realizar eventos masivos de música, 
logrando llenar un campo con mas de 7.000 personas. También estudie una tecnicatura en viveros y trabajo en mis tiempos libres en una carpinteria donde utilizamos solo madera reciclada.

-Ahora elegí que Bariloche es mi lugar en el mundo,y me compré un terreno bastante lejos del centro, por eso decidí aprender programación, 
para poder trabajar desde casa, rodeado de verde, con mis huertos, peliculas y comics.  


