{% extends 'comiqueriapp/home.html' %}

{% block titulo %}
<h1 class="mx-auto my-0 text-uppercase">Distribuidores</h1>
{% endblock titulo %}

{% block contenido %}

<table>
    <tr>
        <td width="200"><h2>Distribuidores</h2></td>
        <td>
            <a
            href="{% url 'distribuidorForm' %}"
            class="btn btn-primary btn-sm"
            ><i class="fa fa-plus fa-lg" title="Crear"> </i>
            </a>
        </td>
    </tr>
</table>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Dirección</th>
            <th>Teléfono</th>
            <th>Modificar/Borrar</th>
        </tr>
    </thead>
    <tbody>
{% for d in distribuidor %}
        <tr>
            <td>{{ d.id }} </td>
            <td>{{ d.nombre }} </td>
            <td>{{ d.direccion }} </td>
            <td>{{ d.telefono }} </td>
            <td> 
                <a
                href="{% url 'modificarDistribuidor' d.id %}"
                class="btn btn-primary"
                style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-bor"
                ><i class="fa fa-edit fa-sm" title="Edit Record"></i>
            </a>
            <a
                href="{% url 'borrarDistribuidor' d.id %}"
                class="btn btn-danger"
                style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-bor"
                ><i class="fa fa-trash fa-sm" title="Delete Record"></i>
            </a>
            </td>
        </tr>
{% endfor %}
    </tbody>
</table>        

{% endblock contenido %}
